<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <img src="https://www.seekpng.com/png/detail/762-7622995_film-poster-cinema-clapperboard-grupo-de-filmes-whatsapp.png" />
  <h2>Alessandro Ap. Antonio</h2>
  <p>Professor na Etec Antonio Devisate - Marília/SP</p>
  <a href="mailto:alessandro.antonio@etec.sp.gov.br">alessandro.antonio@etec.sp.gov.br</a>

</ion-content>
